USE [master]
GO
/****** Object:  Database [MarCo]    Script Date: 13/11/2023 12:07:28 ******/
CREATE DATABASE [MarCo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarCo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MarCo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarCo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MarCo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarCo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarCo]
GO
/****** Object:  User [MarCo]    Script Date: 13/11/2023 12:07:28 ******/
CREATE USER [MarCo] FOR LOGIN [MarCo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 13/11/2023 12:07:28 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MarCo]
GO
/****** Object:  Table [dbo].[Agendas]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NOT NULL,
	[ApellidoCliente] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Fecha] [date] NOT NULL,
	[fkUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Apellido] [varchar](150) NOT NULL,
	[Mail] [varchar](150) NOT NULL,
	[fkUsuario] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Cuit] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reuniones]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reuniones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Formato] [int] NOT NULL,
	[FechaYHora] [date] NOT NULL,
	[Color] [varchar](150) NOT NULL,
	[CodigoEmpresa] [int] NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[fkUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Reuniones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Nota] [varchar](max) NOT NULL,
	[Estado] [varchar](50) NULL,
	[Fecha] [date] NOT NULL,
	[fkUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Apellido] [varchar](150) NOT NULL,
	[Contraseña] [varchar](150) NOT NULL,
	[Mail] [varchar](150) NOT NULL,
	[CodigoEmpresa] [varchar](50) NULL,
	[fkRol] [int] NOT NULL,
	[fkEmpresa] [int] NOT NULL,
	[Cuit] [varchar](50) NULL,
 CONSTRAINT [PK_Dueño] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXReunion]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXReunion](
	[IdUsuario] [int] NOT NULL,
	[IdReunion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 13/11/2023 12:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[fkUsuario] [int] NOT NULL,
	[fkEstado] [int] NOT NULL,
	[fkCliente] [int] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agendas] ON 

INSERT [dbo].[Agendas] ([Id], [NombreCliente], [ApellidoCliente], [Telefono], [Descripcion], [Fecha], [fkUsuario]) VALUES (2, N'albert', N'Cuch', 1122345467, N'wawa', CAST(N'2023-10-10' AS Date), 1)
INSERT [dbo].[Agendas] ([Id], [NombreCliente], [ApellidoCliente], [Telefono], [Descripcion], [Fecha], [fkUsuario]) VALUES (4, N'1', N'21', 1, N'1@1.com', CAST(N'2023-11-24' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Agendas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Mail], [fkUsuario], [Telefono]) VALUES (1, N'ivoooo', N'singer', N'ari@gmail.com', 1, 1122758572)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Mail], [fkUsuario], [Telefono]) VALUES (11, N'martin', N'perez', N'arthththi@gmail.com', 1, 1134546678)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Mail], [fkUsuario], [Telefono]) VALUES (12, N'alejandro', N'rodriguez', N'ale123@gmail.com', 1, 1134213465)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([Id], [Codigo], [Cuit], [Nombre]) VALUES (1, 12345, 123, N'Microsoft')
INSERT [dbo].[Empresa] ([Id], [Codigo], [Cuit], [Nombre]) VALUES (2, 123, 2234, N'SmanWatches')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[Reuniones] ON 

INSERT [dbo].[Reuniones] ([Id], [Titulo], [Formato], [FechaYHora], [Color], [CodigoEmpresa], [Imagen], [fkUsuario]) VALUES (1, N'discusión de marketing', 2, CAST(N'2023-11-11' AS Date), N'verde', 12345, N'foto.jpg', 1)
SET IDENTITY_INSERT [dbo].[Reuniones] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Nombre]) VALUES (1, N'Jefe')
INSERT [dbo].[Rol] ([Id], [Nombre]) VALUES (2, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([Id], [Titulo], [Nota], [Estado], [Fecha], [fkUsuario]) VALUES (1, N'Tit', N'not', N'Urgente', CAST(N'2024-11-19' AS Date), 1)
INSERT [dbo].[Tareas] ([Id], [Titulo], [Nota], [Estado], [Fecha], [fkUsuario]) VALUES (2, N'Tit', N'not', N'Urgente', CAST(N'2024-11-19' AS Date), 1)
INSERT [dbo].[Tareas] ([Id], [Titulo], [Nota], [Estado], [Fecha], [fkUsuario]) VALUES (3, N'Tit', N'not', N'Por realizar', CAST(N'2024-11-19' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Contraseña], [Mail], [CodigoEmpresa], [fkRol], [fkEmpresa], [Cuit]) VALUES (1, N'ari', N'cohen', N'123', N'ari@gmail.com', N'12345', 2, 1, N'123')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Contraseña], [Mail], [CodigoEmpresa], [fkRol], [fkEmpresa], [Cuit]) VALUES (2, N'martin', N'perez', N'123', N'artgi@gmail.com', N'123', 1, 1, N'12345')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Contraseña], [Mail], [CodigoEmpresa], [fkRol], [fkEmpresa], [Cuit]) VALUES (3, N'martin', N'perez', N'123', N'arifbrhth@gmail.com', N'123', 1, 1, N'12345')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Agendas]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Usuarios] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Agendas] CHECK CONSTRAINT [FK_Agenda_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empresa] FOREIGN KEY([fkEmpresa])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empresa]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[UsuarioXReunion]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXReunion_Reuniones] FOREIGN KEY([IdReunion])
REFERENCES [dbo].[Reuniones] ([Id])
GO
ALTER TABLE [dbo].[UsuarioXReunion] CHECK CONSTRAINT [FK_UsuarioXReunion_Reuniones]
GO
ALTER TABLE [dbo].[UsuarioXReunion]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXReunion_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioXReunion] CHECK CONSTRAINT [FK_UsuarioXReunion_Usuarios]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Estado] FOREIGN KEY([fkEstado])
REFERENCES [dbo].[Estado] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Estado]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
USE [master]
GO
